<% include partials/header.ejs %>
    <div class="container" style="height:80vh;">
        <div class="profileBlock">
            <div class="profile-userpic" style="text-align: center; margin-top:20px; " >
                    <img class="circleProf" src ="/shark.png" height= "350" width="350">
        
                </div>
                <div class="list-group" style="width:80%; margin:auto;">
                        <a href="/myQuestions" class="list-group-item list-group-item-action">My Questions</a>
                        <a href="#" class="list-group-item list-group-item-action">Upvoted Questions</a>
                        <a href="#" class="list-group-item list-group-item-action">Answered Questions</a>
                </div>
        </div>
    </div>
</div>
</body>
</html>
