body {
    background-image: url(../pics/pawel-czerwinski-1424180-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.table-wrapper {
    width:80%;
    margin:auto;
    padding-top:50px;
}

.player-img {
    width: 40px;
    height: 40px;
}
/*Questions page stuff*/
.add-question-form {
    margin:auto;
    width:60%;
    height: 80%;
    margin-top:30px;
    background-color:rgba(255,255,255,0.8);
    border-radius: 25px;
}
.add-question-container{
    
    width:90%;
    height:90%;
    margin:auto;
}
.responseColumn{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
}
.extraResponse{
    display:none;
    margin-bottom:20px;
}
.anotherResponseBtn{
    margin-top:20px;
    margin-bottom:20px;
}
.topRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap 
}
.list-group{
    overflow-y:auto;
}
.card-title{
    flex-basis: 80%;
}
.ranking{
    flex-basis:10%;
    align-self: center;
    text-align: right;
}
.upvotes{
    flex-basis:10%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.card-response{
    color:#66d1ff;
    margin-left: 40px;
}
.headerFoot{
    width:80%;
    margin:auto;
    height:30px;
    background-color:rgba(255,255,255,0.8);
}
.footer{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: lightgrey;
    bottom:0;
    width:100vw;
    margin-top:50px;
    position: absolute;
}
.upvote{
    background:none;
    border:none;
    cursor:pointer;
}
.downvote{
    background:none;
    border:none;
    cursor:pointer;
}
.category{
    font-style:italic;
    color:grey;
}

/*Profile stuff*/
.profileBlock{
    margin-top:40px;
    height:100%;
    width:100%;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.profileBlock:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.circleProf{
      border-radius: 50%;
  }
.buttonTitles{
    text-align: center;
    color: black;
    font-weight:bold;
    margin-top:20px;
}
.editDeleteBtns{
    flex-basis:10%;
    display:flex;
    justify-content: space-between;
    height:40px;
}

/*Dropdown Stuff */
#profileIcon{
    color: #4289ff;
    cursor: pointer;
}
#profileIcon:hover {
    color: #6ba3ff;
}
#profileIcon:hover .dropdown {
    display: block;
  }
.dropdown {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;
  }
.dropdown a {
    color: #3fd5ff;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
  }
.dropdown a:hover {background-color: #f1f1f1}
  